<div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/wacken.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h3 i18n>Tour Dates</h3>
        </div>
    </div>
</div>

<!-- http://tobiassammet.com/images/flags/ -->

<div class="main news-details">
    <div class="section section-gray">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Dates</th>
                                    <th>Country</th>
                                    <th>Cities</th>
                                    <th>Venue</th>
                                    <th>Tickets</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img src="./assets/img/flags/Italy.png" alt=""></td>
                                    <td>02/05/2020</td>
                                    <td>Italy</td>
                                    <td>Rome</td>
                                    <td>Castello Scaligero</td>
                                    <td><a href="#">Tickets</a></td>
                                </tr>
                                <tr>
                                    <td><img src="./assets/img/flags/Spain.png" alt=""></td>
                                    <td>04/05/2020</td>
                                    <td>Spain</td>
                                    <td>Madrid</td>
                                    <td>RockTheNight</td>
                                    <td><a href="#">Tickets</a></td>
                                </tr>
                                <tr>
                                    <td><img src="./assets/img/flags/Australia.png" alt=""></td>
                                    <td>10/05/2020</td>
                                    <td>Australia</td>
                                    <td>Brisbane</td>
                                    <td>QPAC</td>
                                    <td><a href="#">Tickets</a></td>
                                </tr>
                                <tr>
                                    <td><img src="./assets/img/flags/Brazil.png" alt=""></td>
                                    <td>14/05/2020</td>
                                    <td>Brazil</td>
                                    <td>São Paulo</td>
                                    <td>Unimed Hall</td>
                                    <td><a href="#">Tickets</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>