.discography-details{
    .album-cover{
        width: 150px;
    }
    .tracklist{
        padding-inline-start: 15px;
    }
    .album-info ul li span{
        font-weight: 600;
    }
}

@media only screen and (max-width: 600px) {
    .discography-details {
        .album-cover{
            width: 255px;
        }
        .tracklist{
            padding-inline-start: 15px;
        }
        .album-name, .album-tracks, .album-info{
            text-align: center;
        }
    }
}