<div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/ilya-yakover.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center" *ngIf="discod">
            <h3> {{discod.albumname}}</h3>
        </div>
    </div>
</div>

<div class="main discography-details">
    <div class="section section-gray" *ngIf="discod">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <a [routerLink]="['/discography']" class="text-right d-block">GoBack Link</a>

                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-xs-12">

                    <figure>
                        <img src="{{discod.coverbig}}" class="album-cover mx-auto d-block">
                    </figure>
                </div>
                <div class="col-md-3 col-xs-12">
                    <h5 class="album-name">{{discod.albumname}} | {{discod.releasedyear}}</h5>

<pre>{{discod.tracks | json}}</pre>

                    <ul class="list-unstyled">
                        <li *ngFor="let track of discod.tracks; let i = index">
                            {{track.tracks[i].tracknumber}}: {{track.tracks[i].trackname}} ({{track.tracks[i].tracklength}})
                        </li>

                    </ul>
                </div>
                <div class="col-md-7 col-xs-12">
                    <h5>Info</h5>
                    <ul class="list-unstyled">
                        <li>Track Time: {{discod.totaltime}}</li>
                        <li>Label: {{discod.label}}</li>
                        <li>Type: {{discod.type}}</li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>Vocals: {{discod.lineup | json }} </li>
                        <li>Guitars: </li>
                        <li>Guitars</li>
                        <li>Guitars: </li>
                        <li>Keyboards:</li>
                        <li>Drums:</li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>