.news{
    .card{
        height: 50vh;

        &:hover{
            cursor: pointer;
        }
    }
    .card-img-top{
        height: 25vh;
    }
    .card-title{
        font-weight: 700;
    }
}

