<div class="page-header page-header-xs" data-parallax="true" >
    <!-- style="background-image: url('./assets/img/fabio-mangione.jpg');" -->
    <div class="container">
        <div class="motto text-center">
            <h3 i18n>About</h3>
        </div>
    </div>
</div>

<div class="main aboutus">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="https://assets.blabbermouth.net/media/archenemyband2017promonew_638.jpg" class="d-block mx-auto">
                </div>
                <div class="col-md-12">
                    <h5 class="space-top text-center">A little bit about us</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis, id repellat, nobis cumque illum est repudiandae voluptatibus quia
                        omnis pariatur, voluptatem fuga? Dicta, quibusdam eum quis eaque commodi numquam esse.
                    </p>
                </div>
            </div>
            
            <hr>
            
            <div class="row">
                <div class="col-md-12">
                    <img src="https://assets.blabbermouth.net/media/archenemyband2017promonew_638.jpg" class="about-image float-left">
                    
                    <h5> A little bit about us</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis, id repellat, nobis cumque illum est repudiandae voluptatibus quia
                        omnis pariatur, voluptatem fuga? Dicta, quibusdam eum quis eaque commodi numquam esse.
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis, id repellat, nobis cumque illum est repudiandae voluptatibus quia
                        omnis pariatur, voluptatem fuga? Dicta, quibusdam eum quis eaque commodi numquam esse.
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis, id repellat, nobis cumque illum est repudiandae voluptatibus quia
                        omnis pariatur, voluptatem fuga? Dicta, quibusdam eum quis eaque commodi numquam esse.
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis, id repellat, nobis cumque illum est repudiandae voluptatibus quia
                        omnis pariatur, voluptatem fuga? Dicta, quibusdam eum quis eaque commodi numquam esse.
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis, id repellat, nobis cumque illum est repudiandae voluptatibus quia
                        omnis pariatur, voluptatem fuga? Dicta, quibusdam eum quis eaque commodi numquam esse.
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis, id repellat, nobis cumque illum est repudiandae voluptatibus quia
                        omnis pariatur, voluptatem fuga? Dicta, quibusdam eum quis eaque commodi numquam esse.
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis, id repellat, nobis cumque illum est repudiandae voluptatibus quia
                        omnis pariatur, voluptatem fuga? Dicta, quibusdam eum quis eaque commodi numquam esse.
                    </p>
                </div>
            </div>
            
        </div>
    </div>
</div>
