/* You can add global styles to this file, and also import other style files */

//big fixes of the template

button{

    &:focus{
        outline: none;
        outline: none;
    }
}

.modal-header{
    text-align: left;
}
.modal-body{
    padding: 16px;
}