.discography{
    .figure{
        .figure-img{
            width: 255px;
            height: 255px;
        }
    }
}


@media only screen and (max-width: 600px) {
    .discography {
        .figure{
           display: block;
           margin-left: auto;
           margin-right: auto;
           text-align: center;
        }
    }
}