.discography{

    .album-cover{
        width: 150px;
        border:1px solid #CCC;
        box-shadow: 5px 5px 10px #CCC;

    }

    .tracklist{
        // border:1px solid #f0f;
        padding-inline-start: 15px;
    }
}

@media only screen and (max-width: 600px) {
    .discography {
        .section{
            // background-color: lightblue;
            .album-cover, .album-name{
                text-align: center;
            }
        }
    }
  }