<div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/joshua-stannard.jpg');">
    <div class="container">
        <div class="motto text-center">
            <h3 i18n>Discography</h3>
        </div>
    </div>
</div>

<!-- API: puxar capa do disco, titulo, ano, faixas -->
<!-- curiosidades do album seria legal vir dinamicamente do back end -->

<div class="main discography">
    <div class="section ">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-xs-12">
                    <figure>
                        <img src="./assets/img/angular2-logo-trim.png" class="album-cover mx-auto d-block">
                    </figure>
                </div>
                <div class="col-md-3 col-xs-12">
                    <h5 class="album-name">Album Title (2020)</h5>
                    <ol class="tracklist">
                        <li>Track 1</li>
                        <li>Track 2</li>
                        <li>Track 3</li>
                        <li>Track 4</li>
                        <li>Track 5</li>
                        <li>Track 6</li>
                        <li>Track 7</li>
                        <li>Track 8</li>
                        <li>Track 9</li>
                        <li>Track 10</li>
                        <li>Track 11</li>
                        <li>Track 12</li>
                    </ol>
                </div>
                <div class="col-md-7 col-xs-12">
                    <h5>Line Up / Curiosities about the album and more infos</h5>
                    <ul class="">
                        <li>lorem ipsum</li>
                        <li>lorem ipsum</li>
                        <li>lorem ipsum</li>
                        <li>lorem ipsum</li>
                        <li>lorem ipsum</li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>