.discography{

    .album-cover{
        width: 150px;
        border:1px solid #CCC;
    }  


    .media{
        border-bottom:1px solid #ccc;
        margin: 15px 0;
        padding-bottom: 15px;
    }
    
    .media-body{
        border:1px solid #f0f;
        margin-left: 15px;

        ol{
            padding-inline-start: 30px;
        }


    }
}