<div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/ilya-yakover.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h3 i18n>Discography</h3>
        </div>
    </div>
</div>

<!-- API: puxar capa do disco, titulo, ano, faixas -->
<!-- curiosidades do album seria legal vir dinamicamente do back end -->

<div class="main discography">
    <div class="section section-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-3 my-1" *ngFor="let disco of discoData; let i = index">
                    <a [routerLink]="['/discography',i]">
                        <figure class="figure">
                            <img src="{{disco.cover}}" class="figure-img img-fluid">
                            <figcaption class="figure-caption text-center">{{disco.albumname}}</figcaption>
                          </figure>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
