//big fixes of the template
button{
    &:focus{
        outline: none;
        outline: none;
    }
}

.main-header{
    margin-bottom: 30px;
    padding: 25px 0;
    
    h3{
        letter-spacing: +2px;
        font-weight: 700;
        font-size: 64px;
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 600px) {
    .main-header{
        h3{
            font-size: 32px;
        }
    }
}